{% extends "header-footer.html" %}
{% load static %}

{% block main-link %}
<link rel="stylesheet" href="{% static 'style/booking.css' %}">
{% endblock %}

{% block main %}
<main class="booking-page">
    <div class="booking-main">
        <h1 class="booking-title">BOOK A ROOM</h1>
        
        <div class="date-selector">
            <div class="date-box">
                <span class="date-label">Check-In Date</span>
                <input type="date" class="date-input">
            </div>
            
            <div class="date-box">
                <span class="date-label">Check-Out Date</span>
                <input type="date" class="date-input">
            </div>
        </div>
    </div>
<section class="booking-people">
    <div class="people">
        
    </div>
</section>
</main>
{% endblock %}